{% extends "base.html" %}

{% block content %}
    <h1>Task Manager</h1>
    <p>Welcome to my pet-project</p>
    <h2>Dynamic content</h2>
    <p>The Task Manager has the following record counts:</p>
    <ul>
        <li><strong>Positions: </strong><a href="{% url 'app:position-list' %}">{{ num_positions }}</a></li>
        <li><strong>Workers: </strong><a href="{% url 'app:worker-list' %}">{{ num_workers }}</a></li>
        <li><strong>Task types: </strong><a href="{% url 'app:task-type-list' %}">{{ num_task_types }}</a></li>
        <li><strong>Tasks: </strong>{{ num_tasks }}</li>
    </ul>

{% endblock %}
