{% extends "base.html" %}

{% block title %}<title>Delete {{ object.name }} position </title>{% endblock %}

{% block content %}

  {% if deletion_restricted %}
    <h1>Deletion restricted! Position already has employees!</h1>
  {% else %}
    <h1>Delete {{ object.name }} position?</h1>
    <form action="" method="post">
      {% csrf_token %}

      <input type="submit" value="Yes" class="btn btn-danger">
    </form>
  {% endif %}
  <a href="{% url 'app:position-list' %}" class="btn btn-primary">
    Back
  </a>
{% endblock %}
